<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" href="/img/lo1.png" />
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <!-- css -->
    <link rel="stylesheet" href="css/styles.css" />

    <!-- google fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito&family=Roboto+Slab&display=swap"
      rel="stylesheet"
    />
    
    <!-- fontawesome -->
    <script
      src="https://kit.fontawesome.com/4509168b33.js"
      crossorigin="anonymous"
    ></script>

    <title>Express Portfolio Site</title>
  </head>
<body>

    
      
