<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" href="/img/lo1.png" />
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <!-- css -->
    <link rel="stylesheet" href="css/styles.css" />

    <!-- google fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito&family=Roboto+Slab&display=swap"
      rel="stylesheet"
    />
    
    <!-- fontawesome -->
    <script
      src="https://kit.fontawesome.com/4509168b33.js"
      crossorigin="anonymous"
    ></script>


    <title>Express Portfolio Site</title>
  </head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color:black">
        <div class="container">    
          <!-- navbar -->
          <a class="navbar-brand" href="#">
            <img src="img/lo1.png" alt="" style="width: 2.8em;" />
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/">Home
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/projects" data-target=".navbar-collapse.in">Projects</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about" data-target=".navbar-collapse.in">About</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/services" data-target=".navbar-collapse.in">Services</a>
                </li>
              <li class="nav-item">
                <a class="nav-link getintouchlink" style="font-weight:bold" data-target=".navbar-collapse.in"
                  href="/contact">Contact
                </a>
              </li>
            </ul>
          </div>
      </nav>
      
