<%- include("partials/header") -%>
<%- include("partials/navbar") -%>
<div class="submitcard">
    <h1 class="home-title">404 Error</h1>
    <p class="home-text">
      Page Not Found ❌
      
    </p>
  </div>
<%- include("partials/bottom_nav") -%>
<%- include("partials/footer") -%>