<%- include("partials/header") -%>
<%- include("partials/navbar") -%>

<!-- home page -->
<section id="homesec">
  <video
    class="videobg"
    preload="metadata"
    src="assets/ocean.mp4"
    autoplay
    muted
    loop
  ></video>
  <div id="home">
    <h1 class="home-title">Hi, I'm Olivia Thomas</h1>
    <p class="home-text">
      Software Engineer // Java Developer // Tech Enthusiast
      <br />Advanced Diploma Student (Software Technology) at Centennial
      College, Canada
    </p>
    <!-- sociallinks -->
    <div class="links">
      <a target="_blank" class="home-icons" href="https://www.instagram.com/">
        <i class="fab fa-instagram fa-lg"></i>
      </a>
      <a
        target="_blank"
        class="home-icons"
        href="https://github.com/oliviathomasTest/"
      >
        <i class="fab fa-github fa-lg"></i>
      </a>
      <a
        target="_blank"
        class="home-icons home-icons-last"
        href="https://www.linkedin.com/in/olivia-thomas-704546173/"
      >
        <i class="fab fa-linkedin-in fa-lg"></i>
      </a>
    </div>
    <a class="btn btn-primary btn-lg homebtn" href="/contact">Say Hello! </a>
    <a class="btn btn-outline-light btn-lg homebtn" target="_blank" href="/about">About Me</a>
  </div>
</section>
<%- include("partials/bottom_nav") -%>
<%- include("partials/footer") -%>
