<!-- About me page -->
<%- include("../partials/header") -%>
<%- include("../partials/navbar") -%>
<section id="container">
  <section id="about">
    <h2 class="heading">About Me</h2>

    <div class="stuff">
      <h2>Olivia Thomas</h2>
      <hr />

      <p class="home-text">
        I am a Tech Enthusiast seeking full time opportunity in the field of
        Software Development where I can apply my knowledge and skills for
        continuous improvement. I am an engineering graduate with 7.5 GPA and 2
        years of work experience aiming to leverage the academic experience and
        proven knowledge of application development and advance technology.
      </p>
      <div class="resume">
        <p class="head">Education</p>
        <ul>
          <li>High School Education in Computer Science (2012-2014)</li>
          <li>Rajagiri College of Engineering and Technology (2014-2018)</li>
          <li>
            Centennial College - Advanced Diploma in Software Engineering
            technology fast-track (2020-2022)
          </li>
        </ul>
        <p class="head">Work Experience</p>
        <ul>
          <li>Software Developer - IBS Software (Sept 2018 - Sept 2020)</li>
        </ul>

        <p class="head">Skills</p>
        <ul>
          <li>Java</li>
          <li>C#</li>
          <li>PL/SQL</li>
          <li>Eclipse/Intellij</li>
          <li>Spring Framework</li>
          <li>ApacheTomcat and Maven</li>
          <li>Jenkins/Kumo</li>
          <li>HTML</li>
          <li>JavaScript</li>
        </ul>

        <p class="head">Interests</p>
        <ul>
          <li>Photography</li>
          <li>Reading</li>
          <li>Programming</li>
          <li>Computer Science</li>
        </ul>
      </div>
      <a
        class="btn btn-outline-secondary btn-lg homebtn"
        target="_blank"
        href="https://drive.google.com/file/d/1Wd1fsttl9U7uxN6mPCf2NzYZZq2H32fk/view?usp=sharing"
        >Resume <i class="fas fa-download"></i>
      </a>
    </div>

    <img
      src="img/photo.jpg" class="photo"
      alt="This is  profile image of myself"
    />
  </section>
</section>
<%- include("../partials/bottom_nav") -%>
<%- include("../partials/footer") -%>
